.welcome{
    background-image: url('../assets/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    right: 0;
    top: 0;
    box-shadow: 10px 10px #2A4365;
}

.welcome h2{
    text-align: center;
    position: relative;
    top: 40%;
    z-index: 2;
    color: #fff;
}

.shadow-cus{
    background-color: rgba(0,0,0, 0.4);
}

.w-cus{
    height: 35.5vh;
}

.title{
    grid-column: 1/4;
    margin-bottom: 50px;
    text-align: center;
}

.box-form{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    color: #222831;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #222831;
    display: grid;
    padding: 25px 0;
    gap: 25px;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 5vh 80vh;
    justify-content: space-evenly;
}   

.card{
    width: 100%;
    background-color: #fff;
    border: 1px solid #222831;
}

.card-title{
    color: #222831;
    font-size: 16px;
}

.card-text {
    text-align: justify;
    color: #222831;
    font-size: 14px;
}

.card-footer{
    text-align: center;
    color: #222831;
    font-size: 14px;
}


.btn-link {
    background-color: #2A4365;
    border: 0;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    display: block;
}

.btn-link:hover {
    background-color: #222831;
    color: #fff;
}