.table-container h2{
    color: white;
}

.table {
    background-color: white;
    border: 0px solid #5392bb;
    margin: 10px 0;
    border-radius: 20px;
}

.table th{
    text-align: center;
}

.btn-masuk{
    height: 40px;
    margin: 5px;
    background-color: #5392bb;
    border: 0;
}

.btn-register{
    height: 40px;
    background-color: #5392bb;
    border: 0;
}

.btn-masuk:hover{
    background-color: #2A4365;
}

.btn-register:hover{
    background-color: #2A4365;
}